toml
pika
smbus2
pyserial
adafruit-circuitpython-adxl34x  # adxl34x
adafruit-circuitpython-amg88xx  # amg88xx
adafruit-circuitpython-bme280   # bme280
adafruit-circuitpython-bme680   # bme680
adafruit-circuitpython-dht      # dht
adafruit-circuitpython-hcsr04   # hcsr04
adafruit-circuitpython-mlx90614 # mlx90614
adafruit-circuitpython-ads1x15  # pt100
adafruit-circuitpython-ssd1306  # ssd1306
adafruit-circuitpython-sht31d   # sht31d
adafruit-circuitpython-tsl2561  # tsl2561
adafruit-circuitpython-tsl2591  # tsl2591
pypozyx-i2c                     # pozyx
